<html>
  <head>
    <title>cran-orchestrator control panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link rel="stylesheet" href="./css/cran-orchestrator.css"></link>
  </head>
  <body>
    <div class="container">
      <h1>cran-orchestrator control panel</h1>
      <div class="row">
        <div class="col-md">
          <h2>load-generator</h2>
          <div id="lg-vue-app">
            <div id="rrh-container" class="row">
              <remote-radio-head
                v-for="rrh in rrhs"
                v-bind:key="rrh.id"
                v-bind:rrh="rrh"
                v-on:change="update"
              />
            </div>
            <div class="row">
              <new-remote-radio-head
                v-bind:rrh="newRrh"
                v-on:change="update"
              />
            </div>
          </div>
        </div>
        <div class="col-md">
          <h2>resource-mapper</h2>
          <div id="rm-vue-app">
            <div>
              <topology
                v-bind:topology="topology"
                v-on:change="updateTopology"
              />
            </div>
            <div>
              <mapping-list
                v-bind:mappings="mappings"
                v-bind:new-mapping="newMapping"
                v-on:change="updateMapping"
              />
            </div>
          </div>
        </div>
        <div class="col-md">
          <h2>openstack-client</h2>
          <div id="oc-vue-app">
            <div id="hypervisor-container" class="row">
              <hypervisor
                v-for="hypervisor in orderedHypervisors"
                v-bind:key="hypervisor.id"
                v-bind:hypervisor="hypervisor"
                v-on:change="update"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./javascript/load-generator.js"></script>
    <script src="./javascript/resource-mapper.js"></script>
    <script src="./javascript/openstack-client.js"></script>
  </body>
</html>
